@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../../public/fonts/inter-var-latin.woff2) format("woff2");
}

@font-face {
  font-family: "Nasalization-rg";
  src: url(../../public/fonts/nasalization-rg.otf) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Gothic";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Gothic.ttf);
}

@font-face {
  font-family: "Gothic";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/GothicB.ttf);
}

@font-face {
  font-family: "Gothic";
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/GothicB.ttf);
}

@font-face {
  font-family: "Gothic";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/GothicB.ttf);
}

@font-face {
  font-family: "Gothic";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/GothicB.ttf);
}

@font-face {
  font-family: "SaintRegular";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/SaintRegular.ttf);
}

@font-face {
  font-family: "NumerinoPixel";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Numerino-PixelItalic.otf);
}

@font-face {
  font-family: "InterBold";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: "InterMedium";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: "Nasalization";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/nasalization-rg.otf);
}
