/* Import Inter from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Ethnocentric - Custom font for headings and titles */
@font-face {
  font-family: "Ethnocentric";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("/fonts/ethnocentric.woff2") format("woff2"),
    url("/fonts/ethnocentric.woff") format("woff"),
    url("/fonts/ethnocentric.ttf") format("truetype");
}

/* Nasalization - Custom font for lineup section */
@font-face {
  font-family: "Nasalization Rg";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/nasalization-rg.otf") format("opentype");
}
