:root {
  --main-bg-color: black;
  --xl-bp: 1400px;
  --l-bp: 1365px;
  --md-bp: 956px;
  --s-bp: 600px;
  --xs-bp: 416px;
}

* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.react-multi-carousel-list {
}

.react-multi-carousel-list {
  position: unset !important;
}

*::selection {
  background: transparent;
  background: transparent;
}

html {
  background: var(--main-bg-color);
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

#root {
  overflow-x: hidden;
}

#root {
  overflow: hidden;
  color: white;
  background: var(--main-bg-color);
}

.full-width {
  width: 100%;
}

.main-width {
  width: 1164px;
  margin: 0 auto;
}

@media screen and (max-width: 1365px) {
  .main-width {
    width: 896px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 956px) {
  .main-width {
    width: 592px !important;
  }
}

@media screen and (max-width: 600px) {
  .main-width {
    width: 100% !important;
    padding: 0 24px;
  }
}

@media screen and (max-width: 360px) {
  .main-width {
    width: 100% !important;
    padding: 0 16px;
  }
}

.gradient-text {
  background: linear-gradient(90deg, #3effa3 0%, #56a7ff 50%, #fb01ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
